$base: #ff3e78;
$transistion: all 0.3s ease-in;
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #282c34 !important;
}

.bg-dark {
  background-color: #282c34 !important;
}

.form-control {
  background-color: #282c3400 !important;
  border: none !important;
  border-bottom: 1px solid #17a2b8 !important;
  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.pointer {
  cursor: pointer;
}

.list-group {
  position: relative;
  z-index: 99;
}
a.card {
  transition: all 0.2s ease-in;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.1);
  }
}

// .container {
//   margin-top: 12vh;
//   .row {
//     flex-wrap: wrap;
//     flex-flow: wrap;
//     justify-content: space-between;
//     .card {
//       width: 300px !important;
//       height: 250px;
//       align-items: center;
//       justify-content: center;
//     }
//     .modal .modal-dialog .modal-content .modal-header button {
//       text-shadow: none;
//       color: white;
//       opacity: 0.5;
//       transform: $transistion;
//       &:hover {
//         opacity: 1;
//       }
//     }
//   }
// }
// p,
// h4,
// h5 {
//   color: white;
// }

// .page-container {
//   margin: 5vh auto;
//   width: 100%;
//   overflow: auto;
//   text-align: center;
//   overflow-x: scroll;
//   // padding: 10px 0px;

//   .pagination {
//     margin: 5vh auto;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     list-style: none;
//     outline: none;

//     li {
//       padding: 10px 0px;
//       a {
//         font-size: 0.8rem;
//         border: 1px solid $base;
//         padding: 0.5rem;
//         outline: none;
//         cursor: pointer;
//         color: $base;
//         text-decoration: none;
//         transition: $transistion;

//         &:hover {
//           background-color: $base;
//           color: white;
//         }
//       }
//       .active {
//         background-color: $base;
//         color: white;
//       }
//       .disabled {
//         display: none;
//       }
//     }
//   }
// }
