body {
  background: linear-gradient(to Right, #212121, #484848);
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}
.border {
  border: 1px solid black;
}
.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 330px 330px 330px;
  grid-template-rows: auto;
  position: relative;
  z-index: -1;
}
.grid > div {
  padding: 1rem;
  background: linear-gradient(to Right, #484848, #212121);
  border-radius: 25px;
  position: relative;
  box-shadow: 2px 2px 6px #00000029;
}
@media screen and (max-width: 780px) {
  .grid {
    grid-template-columns: 49% 49%;
  }
}
@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
}
h1 {
  font-size: 1.5rem;
}
p {
  font-size: 1.1rem;
}
footer {
  background-color: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #ff1158;
}
.form {
  background-color: #212121;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  opacity: 0.7;
}
input[type="search"] {
  padding: 5px;
  width: 25%;
  border-radius: 5px;
  border: none;
  opacity: 1;
}
input[type="search"]:focus {
  outline: 2px solid #ff1158;
}
button {
  padding: 5px;
  width: 70px;
  border-radius: 5px;
  background: linear-gradient(to Right, #ff1158, #ff3e78);
  border: none;
  opacity: 1;
}

